target/
*/target/

# generated Lexer class
ltc-server/src/main/java/com/sri/ltc/latexdiff/Lexer.java

# in manual folder
all/src/site/tex/manual/version.txt
all/src/site/tex/manual/baseurl.txt
all/src/site/tex/manual/manual.pdf

# in report
all/src/tex/techreport2012/report2012.pdf
all/src/tex/techreport2012/gen_examples.sh
all/src/tex/techreport2012/version.txt
all/src/tex/techreport2012/examples/*.unix
all/src/tex/techreport2012/examples/*.cml

