target/
*/target/

# generated Lexer class
ltc-server/src/main/java/com/sri/ltc/latexdiff/Lexer.java

# in manual folder
all/src/site/tex/manual/version.txt
all/src/site/tex/manual/baseurl.txt
all/src/site/tex/manual/manual.pdf
