    ------
    Download
    ------
    Linda Briesemeister
    ------
    ------

Download LTC

  The whole system is packaged in {{{./downloads/LTC-${project.version}.jar}LTC-${project.version}.jar}}.
  This package also contains the Emacs Lisp files for our <<<ltc-mode>>>.  You can extract those files
  with the <<<jar>>> tool or you may download the files individually here:

  * {{{./downloads/emacs/xml-rpc.el}xml-rpc.el}}

  * {{{./downloads/emacs/versions.el}versions.el}}

  * {{{./downloads/emacs/ltc-mode.el}ltc-mode.el}}


* System Requirements

*---------------------------+------------------------------------+-----------------------+
| <<Java>>                  | 1.6 or above                       | <<<$> java -version>>>
| (JDK if using <<<jar>>>)  |                                    |
*---------------------------+------------------------------------+-----------------------+
| <<git>>                   | 1.7.2 or above                     | <<<$> git --version>>>
*---------------------------+------------------------------------+-----------------------+
| <<Emacs>>                 | 23 or above; no support for XEmacs | <<<$> emacs --version>>>
| (if using <<<ltc-mode>>>) |                                    |
*---------------------------+------------------------------------+-----------------------+

  We have tested the system on Mac OS X and Linux.  It is designed to run on Unix platforms.  Windows is not supported
  although it may run with a Unix-like shell under Windows.


~~  Before you can use LTC, you must start the base system first.  See {{{./usage.html}Usage}} for more details.
~~  Now you should be able to invoke LTC from Emacs using <<<M-x ltc-mode>>>.

~~  If you need to customize LTC, for example to change the port number, start the base system with option <<<-p <PORT>>>:

~~$ java -jar LTC-${project.version}.jar -p 5555
~~Tue Dec 06 12:00:38 CST 2011 | CONFIG: 	Default logging configuration complete
~~Tue Dec 06 12:00:38 CST 2011 | CONFIG: 	Logging configured to level CONFIG
~~Tue Dec 06 12:00:38 CST 2011 | INFO: 	Git version: X.Y.Z
~~--log4j: 06 Dec 2011 12:00:38,617 [main] INFO  org.apache.xmlrpc.webserver.XmlRpcServlet - init
~~Tue Dec 06 12:00:38 CST 2011 | INFO: 	Started RPC server on port 5555.
