    ------
    Download
    ------
    Linda Briesemeister
    ------
    ------

Download LTC

  The whole system is packaged in {{{./downloads/LTC-${project.version}.jar}LTC-${project.version}.jar}}.
  This package also contains the Emacs Lisp files for our <<<ltc-mode>>>.  You can extract those files
  with the <<<jar>>> tool or you may download the files individually here:

  * {{{./downloads/emacs/xml-rpc.el}xml-rpc.el}}

  * {{{./downloads/emacs/versions.el}versions.el}}

  * {{{./downloads/emacs/ltc-mode.el}ltc-mode.el}}


* System Requirements

*---------------------------+------------------------------------+-----------------------+
| <<Java>>                  | 1.6 or above                       | <<<$> java -version>>>
| (JDK if using <<<jar>>>)  |                                    |
*---------------------------+------------------------------------+-----------------------+
| <<git>>                   | 1.7.2 or above                     | <<<$> git --version>>>
*---------------------------+------------------------------------+-----------------------+
| <<Emacs>>                 | 23 or above; no support for XEmacs | <<<$> emacs --version>>>
| (if using <<<ltc-mode>>>) |                                    |
*---------------------------+------------------------------------+-----------------------+

  We have tested the system on Mac OS X and Linux.  It is designed to run on Unix platforms.  Windows is not supported
  although it may run with a Unix-like shell under Windows.

* Examples

  To perform the tutorial in the manual or to start playing with LTC, we provide a few git repositories that contain
  examples.

  * {{{./downloads/examples/independence.git.zip}independence.git.zip}}
