    ------
    Installation and Update
    ------
    Linda Briesemeister
    ------
    ------

Installing and Updating LTC

  Use the {{{http://sourceforge.net/projects/latextrack/files/ltc-install.sh/download}ltc-install.sh}} script to
  automatically fetch the latest JAR file to a location of your choice and optionally extract the Emacs Lisp files to
  your Emacs directory. To <<update>> from an older version, also use this script.
  You can obtain usage information by invoking the script this way:

+----
$> bash ltc-install.sh -h
+----

  For example, if you want to use Emacs and the directory <<<~/Library/Preferences/Emacs>>> as the place where you
  store mode files for Emacs, you may want to call the script via (where <<<~/tmp/LTC>>> is the installation location):

+----
$> bash ltc-install.sh ~/tmp/LTC ~/Library/Preferences/Emacs
...
Done with installing LTC in ~/tmp/LTC
To start LTC server with default options, use the following command:

  java -jar ~/tmp/LTC/LTC.jar

+----

* System Requirements

*---------------------------+------------------------------------+-----------------------+
| <<Java>>                  | 1.6 or above                       | <<<$> java -version>>>
*---------------------------+------------------------------------+-----------------------+
| <<git>> or <<svn>>        | 1.7.2 or above,                    | <<<$> git --version>>>,
|                           | 1.6.3 or above                     | <<<$> svn --version>>>
*---------------------------+------------------------------------+-----------------------+
| <<Emacs>>                 | 23 or above; no support for XEmacs |
| (if using <<<ltc-mode>>>) |                                    |
*---------------------------+------------------------------------+-----------------------+

  We have tested the system on Mac OS X and Linux.  It is designed to run on Unix platforms.  Windows is not supported
  although it may run with a Unix-like shell such as Cygwin under Windows.

* Examples

  To perform the tutorial in the manual or to start playing with LTC, we provide the following repositories that contain
  examples.

  * Git: Download {{{http://sourceforge.net/projects/latextrack/files/examples/independence.bundle/download}independence.bundle}} and use as explained in the tutorial.

  * Subversion: In a directory of your choice, do

+----
svn checkout https://rfs.csl.sri.com/svn/public/LTC/tutorial-svn independence
+----

  []
