    ------
    Usage
    ------
    Linda Briesemeister
    ------
    ------

Usage

  The system can be used via the included LTC Editor or with Emacs.

  LTC consists of a base system running under Java and the LaTeX editor specific user interface.  We provide a Java
  application called LTC Editor that contains the base system as well as a simple text editor as the user interface.
  The main usage, although, is to run the base system as a server and have an editor-specific LTC implementation
  connect to the base system via XML-RPC on the localhost.  Our first editor-specific implementation is the Emacs
  <<<ltc-mode>>>, which is a minor mode to the <<<latex-mode>>>.

  Future implementations for popular LaTeX editors such as TeXShop and TeXWorks are planned or could be contributed by
  the community using the API of the base system.

Quick Start for Emacs

  To run the base system, execute the installed JAR file in a terminal (if you want to see logging output).  Or
  launch the JAR using a double-click to ignore the logging output.

+----
$> java -jar LTC.jar
[...]
<date> | INFO: 	Started RPC server on port 7777.
+----

  Invoke <<<M-x ltc-mode>>> in Emacs to turn on LTC.

Manual

  The user manual contains more details on installation and usage as well as a tutorial chapter.
  It is available in these formats:

  * {{{./html_singlepage/manual/manual.html}HTML all on a single page}}

  * {{{./html_multipage/manual/manual.html}HTML tree with multiple pages}}

  * {{{./manual/manual.pdf}PDF}}
